@{
    ViewData["Title"] = "Registration Success";
}

<h2>@TempData["RegistrationSuccess"]</h2>

<p>Du vil bli redirigert til logg inn siden om 3 sekunder...</p>

<script>
    setTimeout(function () {
        window.location.href = '@Url.Action("Login", "Account")';
    }, 3000); // Wait for 3 seconds (3000 milliseconds)
</script>