<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <title>@ViewData["Title"] - KartverketGroup20</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KartverketGroup20.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link href="~/lib/leaflet/leaflet.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div class="hovedmeny">

            <div class="logo">
                <a href="/" class="logo">
                    <img src="~/images/kartverket-logo.jpg" alt="Logo">
                </a>
            </div>


            <div class="sokefelt-container">
                <input type="text" placeholder="Hva leter du etter?" class="sokefelt">
                <button type="submit" class="sok-knapp">Søk</button>
            </div>

            <header>
                <div class="menu-container">
                    <label>
                        <input type="checkbox" id="menu-toggle">
                        <div class="toggle">
                            <span class="top_line common"></span>
                            <span class="middle_line common"></span>
                            <span class="bottom_line common"></span>
                        </div>

                        <div class="slide">
                            <ul>

                                <li><a asp-controller="LandMap" class="menyer-sidebar">Til lands</a></li>
                                <li><a asp-controller="SeaMap" class="menyer-sidebar">Til sjøs</a></li>
                                <!----<li><a asp-controller="Account" asp-action="Login" class="menyer-sidebar">Login</a></li>-->
                                @* @await Html.PartialAsync("_LoginPartial") *@
                                <div>
                                </div>
                            </ul>
                        </div>
                    </label>
                </div>
            </header>



        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-
        20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="~/lib/leaflet/leaflet.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
